html,
body,
#root {
	height: 100%;
}

.radix-themes,
.radix-themes:where([data-accent-color="iris"]) {
	--accent-9: #6565ec;
	--accent-indicator: #6565ec;
}

body {
	margin: 0;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
