html,
body,
#root {
	height: 100%;
}

.radix-themes,
.radix-themes:where([data-accent-color="iris"]) {
	--accent-9: #6565ec;
	--accent-indicator: #6565ec;
	--cursor-menu-item: pointer;
}

body {
	margin: 0;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.data-table-footer {
	--table-row-box-shadow: inset 0 1px var(--gray-a5);
}

.rt-BaseButton:not([data-disabled]),
.rt-IconButton:not([data-disabled]) {
	cursor: pointer;
}

.rt-BaseButton.rt-variant-surface[data-accent-color="gray"]:not(
		[data-disabled]
	) {
	color: var(--gray-12);
	&:hover {
		background-color: var(--gray-a2);
	}
}

.rt-BaseButton.rt-variant-surface[data-accent-color="red"]:hover {
	background-color: var(--red-a3);
}

.rt-BaseButton[data-disabled] {
	background-color: var(--gray-a3);
	color: var(--gray-a8);
	box-shadow: none;
}

:root .rt-BaseMenuContent {
	--base-menu-content-padding: 4px;
}

.rt-BaseMenuViewport {
	gap: 1px;
}

.rt-BaseMenuItem[data-highlighted] {
	background-color: var(--gray-a3);
	color: var(--gray-12);
}
